@media screen and (max-width: 800px){
    .wprmenu_bar .hamburger {
        float: right
    }
    #wprmenu_bar .bar_logo{
        height: 33px;
    }
    .wp-block-button{
        text-align: center;
    }
    h2 {
        font-size: 33px;
    }
    .site-header .container{display: none;}
    .banner-text .wrapper {top: 50%;transform: translateY(-50%)}
    .banner-text .wrapper .title{font-size: vw-port(800px, 40px)}
    .site-banner .img-holder img {
        height: 52vw;
    }
    #welcome,
    #commercial-cleaning,
    #residential,
    #testimonials, 
    #move-in,
    #contact {
        padding: 20px 0;
    }
    .welcome-left,
    .welcome-right{
        max-width: 100%;
        flex-basis: 100%!important;
    }
    .welcome-left{text-align:center;}
    .welcome-right h3 {
        font-size: 33px;
    }
    .welcome-right h1{
        font-size: 28px;
    }
    #welcome::after{display:none;}
    #commercial-cleaning .container{width: 95%;}
    .commercial-left{padding: 0 10px 20px;}
    .footer-info,
    .footer-logo,
    .footer-sm{
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
    }
    .site-page-bottom{padding: 20px 0;}
    .footer-info{order: 3}
    .footer-logo{order: 1}
    .footer-sm{order: 2}
    .site-footer{padding: 20px 0;}
    .footer-logo{position: relative;top: auto; left: auto; transform: translateX(0)}
    .footer-info .info{margin: 10px auto}
    .social-navigation{margin: 10px auto;}
    .inner #content h1{font-size: 35px;}
    .inner #content h5 {
        font-size: 30px;
    }
    .wpcr3_table_2 td{display: block;}
    .wpcr3_respond_2 input[type="text"], 
    .wpcr3_respond_2 textarea{
        min-width: 0;
        width: 100%;
    }
}
