@media screen and (max-width: 600px) {
    .site-page-bottom .container>div {
        max-width: 100% !important;
        width: 100% !important;
        flex-basis: 100% !important;
        margin: 0 0 40px;
    }
    .wpcr3_button_1{display: block}
}