@media screen and (max-width: 1024px) {
    .site-banner .img-holder img{
        height: 75vw;
    }
    h2{
        font-size: 52px;
    }
    .site-page-bottom ul li{
        display: block;
    }
    .site-page-bottom .container > div{
        max-width: 45%!important;
        width: 45%!important;
        flex-basis: 45%!important;
        margin: 0 0 40px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 800px){
    .banner-text .wrapper .title{font-size: vw-port(1024px,50px);}
}