.site-page-bottom {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    li {
      display: inline-block;
      a {
        font-size: 15px;
        color: #333333;
        line-height: 180%;
        &:hover {
          text-shadow: 0px 0px 20px #FFF, 0px 0px 20px #FFF, 0px 0px 20px #FFF;
        }
      }
    }
  }
}
