.main-navigation {
  max-width: 1592px;
  width: 100%;
  margin: 0 auto;
  ul {
    list-style: none;
    @include flex(row,wrap,space-around,center);
    margin: 0;
    padding: 0;
    li {
      position: relative;
      width: ( 100% / 6 );
      text-align: center;
      border-right: 1px solid #FFF;
      box-sizing: border-box;
      &:last-of-type{
        border-right: none;
      }
      &.menu-item-has-children a {
        &::after {
          content: "\f0d7";
          font-family: 'FontAwesome';
          color: #FFF;
          transition: all .2s linear;
          display: inline-block;
          vertical-align: middle;
          font-size: 18px;
          margin-left: 10px;
          position: relative;
          top: -2px;
        }
        &:hover::after {
          transform: rotateZ(180deg);
        }
      }
      a {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 15px;
        color:#FFF;
        max-width: 130px;
        margin: 0 auto;
        letter-spacing: normal;
        line-height: 120%;
        padding: 0;
        text-transform: uppercase;
        display: block;
        position: relative;
        z-index: 1;
        &::before {
          content: "";
          background: #029c2b;
          width: 100%;
          max-width: 100%;
          height: 43px;
          border-radius: 5px;
          position: absolute;
          top:-70%;
          left: 0;
          right: 0;
          margin: 0 auto;
          transition: all .3s linear;
          transform: scaleX(0);
          transform-origin: left;
          z-index: -1;
        }
        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
  }
  .current-menu-item a::before {
    transform: scaleX(1);
  }
  // ul li a:hover, .current-menu-item a, .current_page_item a {
  //   text-shadow: 0px 0px 20px #000;
  // }
  ul li:hover ul {
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
  }
}
