.social-navigation {
  max-width: 245px;
  margin: 0 0 0 auto;
  .svg-icon {
    display: none;
  }
  ul {
    margin: 0 !important;
    list-style: none;
    display: block;
    padding: 0;
    @include flex(row, wrap, space-between, center);
    li {
      transition: all .4s linear;
      height: 25px;
      width: 40px;
      &:hover {
        transform: rotateZ(360deg);
      }
      a {
        color: #333333;
        &::before {
          font-size: 18px;
          position: relative;
          top: 0px;
        }
      }
    }
  }
}
