.main-navigation ul ul {
  background: rgba(106, 123, 100, 0.9);
  transition: all .3s linear;
  box-shadow: 0px 0px 2px #555;
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  margin-top: 50px;
  width: 100%;
  display: block;
  opacity: 0;
  li {
    display: block;
    margin-right: 0;
    width: 100%;
    a {
      padding: 10px 0;
      max-width: 100%;
      display: block;
      box-sizing: border-box;
      &::after, &::before {
        display: none !important;
      }
      &:hover {
          background: #029c2b;
      }
    }
  }
}

/*Sub Sub Menu*/

.main-navigation ul ul {
  ul {
    visibility: hidden !important;
    opacity: 0 !important;
    position: absolute;
    transform: translate(100%, 100%)
  }
  li:hover ul {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translate(100%, -80%)
  }
  ul li {}
}
.main-navigation ul .toLeft ul {
  ul {
    visibility: hidden !important;
    opacity: 0 !important;
    position: absolute;
    transform: translate(-100%, 100%)
  }

  li:hover ul {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translate(-100%, -80%)
  }

  ul li {}
}