.wp-block-button {
  a{
    box-sizing: border-box;
    max-width: 140px;
    width: 100%;
    padding: 14px 0;
    display: inline-block;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  a:hover {
    border-radius: 5px;
    background: #02691d;
  }
}

.btn {
  box-sizing: border-box;
  max-width: 140px;
  width: 100%;
  padding: 14px 0;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #029C2B;
  color: #FFFFFF!important;
  transition: all 0.5s ease;
}

.btn:hover {
  border-radius: 5px;
  background: #02691d;
}

.submit {
  box-sizing: border-box;
  max-width: 140px;
  width: 100%;
  padding: 14px 0;
  display: inline-block;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #029C2B;
  color: #FFFFFF;
  transition: all 0.5s ease;
}

.submit:hover {
  border-radius: 5px;
  background: #02691d;
}