a {
  -webkit-transition: all .5s ease;
  text-decoration: none !important;
  text-decoration: none;
  transition: all .5s ease;
  color: #333;
  &:visited {
    -webkit-transition: all .5s ease;
    text-decoration: none !important;
    text-decoration: none;
    transition: all .5s ease;
    color: #555;
  }
  &:hover {
    text-shadow: 0px 0px 5px #000;
  }
  &:focus {
    outline: none !important;
  }
}

h1, h2, h3 {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 110%;
  margin: 0 auto;
}

h1 {
  font-size: 70px;
  color: #6A7A64;
}

h2 {
  font-size: 65px;
  font-weight: 200;
  line-height: 120%;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}
h4{
  font-size: 25px;
  font-weight: 300;
  line-height: 120%;
  color: #333333;
}

p, ul, ol {
  font-family: 'Montserrat';
  line-height: 180%;
  font-weight: 300;
}

p:last-of-type {
  margin: 0 !important;
}

@media screen and (max-width: 500px) {
  h1, h2 {
    font-size: 40px;
  }
}
