.contact-us .wpcf7-form{
    text-align: center;
    br{
        display: none;
    }
    .ctc-hide{
        display: none;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        font-family: 'Montserrat';
        font-size: 16px;
        color: #333333;
        height: 45px;
        display: block;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 5px 10px;
        box-sizing: border-box;
        margin: 0 auto 8px;
    }
    textarea {
        height: 120px;
        padding-top: 10px;
    }
    .btn{
        display: block;
        margin: 30px auto 0;
    }
}
