.blog{
  .post{
    box-sizing: border-box;
    padding: 40px 30px;
    max-width: 1592px;
    width: 95%;
    margin: 0 auto 40px;
    border: 1px solid #333333;
    border-radius: 5px;
    p{
      margin: 1em 0!important;
    }
  }
}

.single{
  h1{
    color: #333333;
  }
  .entry-meta{
    display: none;
  }
  .post{
    box-sizing: border-box;
    padding: 40px 30px;
    max-width: 1592px;
    width: 95%;
    margin: 0 auto 40px;
    border: 1px solid #333333;
    border-radius: 5px;
    p{
      margin: 1em 0!important;
    }
  }
  .entry-footer{
    span{
      margin: 0 40px 0 0;
    }
    svg{
      display: none;
    }
    .byline, .cat-links{
      display: none;
    }
  }
  .comments-area{
    box-sizing: border-box;
    padding: 40px 30px;
    max-width: 1592px;
    width: 95%;
    margin: 0 auto 40px;
    border: 1px solid #333333;
    border-radius: 5px;
    h2{
      color: #333333;
      text-align: center;
    }
    .comment-form-comment{
      label{
        display: block;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        margin: 0 0 20px;
      }
      textarea{
        width: 100%;
      }
    }
    .comment-form-flex h2{
      font-size: 20px;
    }
    .form-submit{
      text-align: center;
      margin: 0 0 30px!important;
    }
  }
}

@media screen and (max-width: 800px){
  .blog{
    .post{
      padding: 20px 10px;
    }
  }
}