.inner{
  .site-header .container{
    position: relative;
    
  }
  .header-nav {
    background: url(../../uploads/2019/09/inner-bg.jpg)no-repeat center center;
    background-size: cover;
  }
}
.inner #content {
   background: url('../../uploads/2019/09/content-bg.jpg');
   background-attachment: fixed;
   background-size: cover;
  padding:40px 0;
  min-height: 500px;
  .container{
    max-width: 1200px;
    width: 95%;
  }
  h1 {
    font-size: 65px;
    font-weight: 200;
    color: #029C2B;
    line-height: 120%;
    font-family: 'Montserrat';
  }
  h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
    padding: 20px 0 0 0;
    margin: 0 !important
  }
  .wp-block-separator{
    max-width: 100%;
  }
  h5 {
    font-size: 40px;
    font-weight: 200;
    line-height: 120%;
    font-family: 'Montserrat', sans-serif;
    margin: 0!important;
    &.with-color{
      font-size: 30px;
    }
  }
  p,
  ul,
  ol,
  li {
    font-size: 18px;
  }
  p{
    margin: 30px 0!important;
  }
}
