.wpcr3_review{
    @include flex(column,wrap,space-between,flex-start);
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px #333333;
    margin: 20px 0;
}
.wpcr3_review_ratingValue{order:1}
.wpcr3_content{order: 2;
    margin: 30px 0;
    padding-bottom: 0!important;
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;
    color: #333333;
}
.wpcr3_review_author{order:3;
    font-size: 0!important;
    span{
        color: #029C2B;
        font-style: normal;
        text-shadow: 0px 0px 18px #333333;
        font-size: 20px!important;
    }
    .wpcr3_item_name{
        font-size: 0 !important;
    }
}
.wpcr3_review_datePublished{
    font-size: 0!important;
    line-height: 0!important;
}
.wpcr3_dotline{
    visibility: hidden;
}
.wpcr3_button_1 {
    box-sizing: border-box;
    max-width: 200px;
    width: 100%;
    padding: 14px 0;
    display: inline-block;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #029C2B;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.wpcr3_button_1:hover {
    color: #FFFFFF;
    border-radius: 5px;
    background: #02691d;
}
.wpcr3_div_2{
    box-sizing: border-box;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px #333333;
    width: 100%;
}
.wpcr3_respond_2 input[type="text"] {
    min-width: 0;
    width: 100%;
    height: 25px;
    border-radius: 5px;
}
.wpcr3_respond_2 textarea {
    width: 100%;
    border-radius: 5px;
}