/*
Theme Name: Coops Go Green Cleaning Service
Theme URI: 
Author: the Development team
Author URI: https://wordpress.org/
Description: A theme for WordPress 5.
Requires at least: WordPress 4.9.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: coopsgogreencleaningservice
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Coops Go Green Cleaning Service is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { font-family: 'Montserrat'; margin: 0 auto; width: 100%; min-width: 1200px; }

@media screen and (max-width: 1200px) { body { min-width: 320px; } }

/*###################################
## Layouts
###################################*/
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; word-wrap: normal !important; overflow: hidden; height: 1px; margin: -1px; padding: 0; width: 1px; border: 0; }

.wp-block-column, .blocks-gallery-item { margin: 0 !important; }

.has-1-columns .wp-block-column { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.container { width: 100%; max-width: 1600px; margin: 0 auto; padding: 0; }

.row { max-width: 1440px; margin: 0 auto; }

.cta { display: none; }

.grecaptcha-badge { z-index: 999999; }

.wp-block-image { margin: 0 !important; }

@media screen and (max-width: 800px) { .cta { background: #D7BA5A url("assets/images/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #000; border-top-left-radius: 40px; text-decoration: none; text-indent: -9999em; position: fixed; display: block; bottom: 13%; height: 80px; width: 100px; z-index: 999; right: 0; }
  #wprmenu_bar { -webkit-box-shadow: 0px 0px 2px #000; box-shadow: 0px 0px 2px #000; }
  #wprmenu_bar .menu_title a { color: #FFF; top: 0; }
  html body div.wprm-overlay { background: transparent; }
  .logged-in #wprmenu_menu_ul { top: 47px !important; } }

/* color */
.has-primary-color { color: #029b2b !important; }

.has-secondary-color { color: #02691d !important; }

.has-primary-background-color { background-color: #029b2b; }

.has-secondary-background-color { background-color: #02691d; }

.has-white-color { color: #FFFFFF !important; }

.has-dark-gray-color { color: #333333 !important; }

.has-light-gray-color { color: #555555 !important; }

.has-white-background-color { background: #FFFFFF; }

.has-dark-gray-background-color { background: #333333; }

.has-light-gray-background-color { background: #555555; }

/*###################################
## Fonts
###################################*/
a { -webkit-transition: all .5s ease; text-decoration: none !important; text-decoration: none; -o-transition: all .5s ease; transition: all .5s ease; color: #333; }

a:visited { -webkit-transition: all .5s ease; text-decoration: none !important; text-decoration: none; -o-transition: all .5s ease; transition: all .5s ease; color: #555; }

a:hover { text-shadow: 0px 0px 5px #000; }

a:focus { outline: none !important; }

h1, h2, h3 { font-family: 'Montserrat'; font-weight: 400; line-height: 110%; margin: 0 auto; }

h1 { font-size: 70px; color: #6A7A64; }

h2 { font-size: 65px; font-weight: 200; line-height: 120%; }

h3 { font-size: 25px; font-weight: 700; }

h4 { font-size: 25px; font-weight: 300; line-height: 120%; color: #333333; }

p, ul, ol { font-family: 'Montserrat'; line-height: 180%; font-weight: 300; }

p:last-of-type { margin: 0 !important; }

@media screen and (max-width: 500px) { h1, h2 { font-size: 40px; } }

/*###################################
## Buttons
###################################*/
.wp-block-button a { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 140px; width: 100%; padding: 14px 0; display: inline-block; font-weight: 300; font-size: 11px; letter-spacing: 1px; border: 1px solid transparent; border-radius: 5px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.wp-block-button a:hover { border-radius: 5px; background: #02691d; }

.btn { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 140px; width: 100%; padding: 14px 0; display: inline-block; text-align: center; font-weight: 300; font-size: 11px; letter-spacing: 1px; border: 1px solid transparent; border-radius: 5px; background: #029C2B; color: #FFFFFF !important; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { border-radius: 5px; background: #02691d; }

.submit { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 140px; width: 100%; padding: 14px 0; display: inline-block; font-weight: 300; font-size: 11px; letter-spacing: 1px; border: 1px solid transparent; border-radius: 5px; background: #029C2B; color: #FFFFFF; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.submit:hover { border-radius: 5px; background: #02691d; }

/*###################################
## Search
###################################*/
.sidebar form, .error-404 form { position: relative; max-width: 700px; margin: 10px auto; }

.sidebar input[type="search"], .error-404 input[type="search"] { width: 100%; padding: 5px 10px; }

.sidebar input[type="submit"], .error-404 input[type="submit"] { background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ccc)); background: -webkit-linear-gradient(top, #FFF, #ccc); background: -o-linear-gradient(top, #FFF, #ccc); background: linear-gradient(to bottom, #FFF, #ccc); border: 1px solid #000; position: absolute; padding: 6px; right: 0; top: 0; }

.sidebar .widget:not(:nth-of-type(1)) { background: rgba(255, 255, 255, 0.5); border-bottom: 1px solid #CCC; padding-bottom: 20px; margin-bottom: 20px; padding: 10px 20px; }

.sidebar input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.error-404 input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.sidebar input[type="submit"]:hover, .error-404 input[type="submit"]:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

/*###################################
## Forms
###################################*/
.contact-us .wpcf7-form { text-align: center; }

.contact-us .wpcf7-form br { display: none; }

.contact-us .wpcf7-form .ctc-hide { display: none; }

.contact-us .wpcf7-form input[type="text"], .contact-us .wpcf7-form input[type="email"], .contact-us .wpcf7-form input[type="tel"], .contact-us .wpcf7-form textarea { font-family: 'Montserrat'; font-size: 16px; color: #333333; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.contact-us .wpcf7-form textarea { height: 120px; padding-top: 10px; }

.contact-us .wpcf7-form .btn { display: block; margin: 30px auto 0; }

/*###################################
## Menus
###################################*/
/*Main Menu*/
.main-navigation { max-width: 1592px; width: 100%; margin: 0 auto; }

.main-navigation ul { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0; padding: 0; }

.main-navigation ul li { position: relative; width: 16.66667%; text-align: center; border-right: 1px solid #FFF; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-navigation ul li:last-of-type { border-right: none; }

.main-navigation ul li.menu-item-has-children a::after { content: "\f0d7"; font-family: 'FontAwesome'; color: #FFF; -webkit-transition: all .2s linear; -o-transition: all .2s linear; transition: all .2s linear; display: inline-block; vertical-align: middle; font-size: 18px; margin-left: 10px; position: relative; top: -2px; }

.main-navigation ul li.menu-item-has-children a:hover::after { -webkit-transform: rotateZ(180deg); -ms-transform: rotate(180deg); transform: rotateZ(180deg); }

.main-navigation ul li a { font-family: "Montserrat"; font-weight: 600; font-size: 15px; color: #FFF; max-width: 130px; margin: 0 auto; letter-spacing: normal; line-height: 120%; padding: 0; text-transform: uppercase; display: block; position: relative; z-index: 1; }

.main-navigation ul li a::before { content: ""; background: #029c2b; width: 100%; max-width: 100%; height: 43px; border-radius: 5px; position: absolute; top: -70%; left: 0; right: 0; margin: 0 auto; -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; -webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; z-index: -1; }

.main-navigation ul li a:hover::before { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); }

.main-navigation .current-menu-item a::before { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); }

.main-navigation ul li:hover ul { visibility: visible; opacity: 1; margin-top: 10px; }

/*Sub Menu*/
.main-navigation ul ul { background: rgba(106, 123, 100, 0.9); -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; -webkit-box-shadow: 0px 0px 2px #555; box-shadow: 0px 0px 2px #555; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; visibility: hidden; margin-top: 50px; width: 100%; display: block; opacity: 0; }

.main-navigation ul ul li { display: block; margin-right: 0; width: 100%; }

.main-navigation ul ul li a { padding: 10px 0; max-width: 100%; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-navigation ul ul li a::after, .main-navigation ul ul li a::before { display: none !important; }

.main-navigation ul ul li a:hover { background: #029c2b; }

/*Sub Sub Menu*/
.main-navigation ul ul ul { visibility: hidden !important; opacity: 0 !important; position: absolute; -webkit-transform: translate(100%, 100%); -ms-transform: translate(100%, 100%); transform: translate(100%, 100%); }

.main-navigation ul ul li:hover ul { visibility: visible !important; opacity: 1 !important; -webkit-transform: translate(100%, -80%); -ms-transform: translate(100%, -80%); transform: translate(100%, -80%); }

.main-navigation ul .toLeft ul ul { visibility: hidden !important; opacity: 0 !important; position: absolute; -webkit-transform: translate(-100%, 100%); -ms-transform: translate(-100%, 100%); transform: translate(-100%, 100%); }

.main-navigation ul .toLeft ul li:hover ul { visibility: visible !important; opacity: 1 !important; -webkit-transform: translate(-100%, -80%); -ms-transform: translate(-100%, -80%); transform: translate(-100%, -80%); }

/*Footer Menu*/
.site-page-bottom ul { margin: 0; padding: 0; list-style: none; display: block; }

.site-page-bottom ul li { display: inline-block; }

.site-page-bottom ul li a { font-size: 15px; color: #333333; line-height: 180%; }

.site-page-bottom ul li a:hover { text-shadow: 0px 0px 20px #FFF, 0px 0px 20px #FFF, 0px 0px 20px #FFF; }

/*Social Menu*/
.social-navigation { max-width: 245px; margin: 0 0 0 auto; }

.social-navigation .svg-icon { display: none; }

.social-navigation ul { margin: 0 !important; list-style: none; display: block; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.social-navigation ul li { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; height: 25px; width: 40px; }

.social-navigation ul li:hover { -webkit-transform: rotateZ(360deg); -ms-transform: rotate(360deg); transform: rotateZ(360deg); }

.social-navigation ul li a { color: #333333; }

.social-navigation ul li a::before { font-size: 18px; position: relative; top: 0px; }

/*###################################
## Header
###################################*/
.site-header { position: relative; }

.site-header .container { position: absolute; top: 0; left: 0; right: 0; max-width: 100%; width: 100%; z-index: 999; }

.header-nav { max-width: 100%; width: 100%; margin: 0 auto; background: rgba(255, 255, 255, 0.35); padding: 40px 0; }

.hd-logo { padding: 75px 0 0; text-align: center; }

/*###################################
## Banner
###################################*/
.site-banner { position: relative; }

.site-banner .img-holder img { width: 100%; height: 1000px; -o-object-fit: cover; object-fit: cover; }

.banner-text .wrapper { position: absolute; top: 450px; left: 0; right: 0; margin: 0 auto; max-width: 1118px; }

.banner-text .wrapper .title { text-align: center; font-family: "Montserrat"; font-size: 65px; font-weight: 200; color: #FFFFFF; line-height: 120%; }

/*###################################
## Content
###################################*/
/*welcome*/
#welcome { padding: 55px 0 95px; background: url("../../uploads/2019/09/content-bg.jpg"); background-attachment: fixed; background-size: cover; position: relative; }

#welcome .container { max-width: 1592px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#welcome::after { content: ''; background: url(../../uploads/2019/09/content-pic2.png) no-repeat center bottom; background-size: contain; max-width: 324px; width: 16.875%; height: 100%; max-height: 484px; position: absolute; bottom: 20px; right: 46px; opacity: 0.5; z-index: 0; }

.welcome-left { max-width: 478px; position: relative; z-index: 1; }

.welcome-right { max-width: 1022px; padding: 20px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; z-index: 1; }

.welcome-right h3 { font-size: 65px; font-weight: 200; line-height: 120%; }

.welcome-right h1 { font-size: 45px; font-weight: 200; line-height: 120%; }

.welcome-right p { margin: 30px 0; text-shadow: 0 0 2px #FFFFFF, 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF, 0 0 20px #FFFFFF; }

.welcome-right .welcome-button { margin: 33px 0 0; }

/*commercial cleaning*/
#commercial-cleaning { padding: 0; }

#commercial-cleaning .container { max-width: 100%; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

.commercial-left { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 61px 10px 20px; max-width: 816px; margin: 0 0 0 auto !important; }

.commercial-left h2 { max-width: 397px; margin: 0; }

.commercial-left p { max-width: 574px; margin: 30px 0 0 !important; }

.commercial-left .commercial-button { margin: 33px 0 0; }

.commercial-right img { -o-object-fit: cover; object-fit: cover; min-height: 491px; }

/*residential cleaning*/
#residential { padding: 117px 0 132px; background: url(../../uploads/2019/09/content3-bg.jpg) no-repeat center top; background-attachment: fixed; background-size: cover; }

#residential .container { max-width: 1592px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.residential-left { max-width: 653px; }

.residential-right { max-width: 816px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px 10px 20px; }

.residential-right h2 { max-width: 360px; margin: 0 !important; }

.residential-right p { max-width: 574px; margin: 30px 0 0 !important; }

.residential-right .residential-button { margin: 33px 0 0; }

/*testimonials*/
#testimonials { background: url(../../uploads/2019/09/content4-bg.jpg) no-repeat center center; background-attachment: fixed; background-size: cover; padding: 54px 0 65px; }

#testimonials .container { max-width: 1477px; margin: 56px auto 10px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.testimonial-contain { width: 33%; -ms-flex-preferred-size: 33%; flex-basis: 33%; }

.testimonial-contain .author { font-size: 25px; font-weight: 400; line-height: 120%; margin: 0 auto !important; max-width: 400px; }

.testimonial-contain .star { margin: 10px auto !important; max-width: 400px; }

.testimonial-contain .testimonial-content { margin: 25px 0 0 !important; }

/*Move In & Out Cleaning*/
#move-in { padding: 114px 0; background: url(../../uploads/2019/09/content5-bg.jpg) no-repeat center center; background-attachment: fixed; background-size: cover; }

#move-in .container { max-width: 1420px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.move-in-left { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px 10px 20px; max-width: 594px; margin: 0 auto !important; }

.move-in-left h2 { max-width: 429px; margin: 0 !important; }

.move-in-left p { max-width: 574px; margin: 30px 0 0 !important; }

.move-in-left .move-in-button { margin: 33px 0 0; }

.move-in-right { max-width: 653px; }

/*Contact*/
#contact { padding: 124px 0 150px; background: url(../../uploads/2019/09/content6-bg.jpg) no-repeat center center; background-size: cover; }

.contact-section { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; }

.contact-section p { margin: 23px auto 47px !important; }

.contact-section .contact-button a:hover { color: #FFFFFF !important; }

/*###################################
## Page Bottom
###################################*/
.site-page-bottom { background-color: #F7F7F7; padding: 74px 0 82px; }

.site-page-bottom .container { max-width: 1592px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.site-page-bottom h4 { margin: 0 0 30px; }

.site-page-bottom h5 { margin: 30px 0 0; margin-bottom: 3px; font-size: 13px; font-weight: 400; line-height: 120%; color: #019B2B; text-transform: uppercase; }

.site-page-bottom p { margin: 0; font-size: 15px; font-weight: 300; line-height: 180%; color: #333333; }

.site-page-bottom .container > div:nth-of-type(1) { max-width: 400px; width: 40%; -ms-flex-preferred-size: 40%; flex-basis: 40%; }

.site-page-bottom .container > div:nth-of-type(2) { max-width: 105px; width: 20%; -ms-flex-preferred-size: 20%; flex-basis: 20%; }

.site-page-bottom .container > div:nth-of-type(2) a { text-transform: uppercase; }

.site-page-bottom .container > div:nth-of-type(3) { max-width: 190px; width: 20%; -ms-flex-preferred-size: 20%; flex-basis: 20%; }

.site-page-bottom .container > div:nth-of-type(4) { max-width: 203px; width: 20%; -ms-flex-preferred-size: 20%; flex-basis: 20%; }

.site-page-bottom .container > div:nth-of-type(4) a { font-weight: 300; }

/*###################################
## Footer
###################################*/
.site-footer { padding: 76px 0; }

.site-footer .container { max-width: 1592px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; }

.footer-info { width: 33%; -ms-flex-preferred-size: 33%; flex-basis: 33%; }

.footer-info .info { max-width: 453px; margin: 0 auto 0 0; text-align: center; }

.footer-logo { width: 33%; -ms-flex-preferred-size: 33%; flex-basis: 33%; text-align: center; position: absolute; top: -135px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.footer-logo img { max-width: 225px; }

.footer-sm { width: 33%; -ms-flex-preferred-size: 33%; flex-basis: 33%; }

.copyright { font-size: 15px; font-weight: 300; line-height: 180%; }

.silver { font-size: 15px; font-weight: 300; line-height: 180%; }

.silver img { max-width: 50px; }

/*###################################
## Sidebar Blog
###################################*/
.sidebar { border: 1px solid #535353; -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex-preferred-size: 30%; flex-basis: 30%; padding: 20px; }

.sidebar h2 { font-size: 25px; margin: 0; }

.sidebar .widget_search { -webkit-box-sizing: border-box; box-sizing: border-box; background: #6A7A64; margin-bottom: 25px; padding: 20px; width: 100%; }

.sidebar .widget:last-of-type { margin-bottom: 0; }

/*###################################
## Inner Pages
###################################*/
.inner .site-header .container { position: relative; }

.inner .header-nav { background: url(../../uploads/2019/09/inner-bg.jpg) no-repeat center center; background-size: cover; }

.inner #content { background: url("../../uploads/2019/09/content-bg.jpg"); background-attachment: fixed; background-size: cover; padding: 40px 0; min-height: 500px; }

.inner #content .container { max-width: 1200px; width: 95%; }

.inner #content h1 { font-size: 65px; font-weight: 200; color: #029C2B; line-height: 120%; font-family: 'Montserrat'; }

.inner #content h4 { font-size: 25px; font-weight: 700; line-height: 120%; padding: 20px 0 0 0; margin: 0 !important; }

.inner #content .wp-block-separator { max-width: 100%; }

.inner #content h5 { font-size: 40px; font-weight: 200; line-height: 120%; font-family: 'Montserrat', sans-serif; margin: 0 !important; }

.inner #content h5.with-color { font-size: 30px; }

.inner #content p, .inner #content ul, .inner #content ol, .inner #content li { font-size: 18px; }

.inner #content p { margin: 30px 0 !important; }

/*reviews-page*/
.wpcr3_review { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; background: #fff; padding: 10px 20px; border-radius: 10px; -webkit-box-shadow: 0px 0px 14px #333333; box-shadow: 0px 0px 14px #333333; margin: 20px 0; }

.wpcr3_review_ratingValue { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

.wpcr3_content { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin: 30px 0; padding-bottom: 0 !important; font-size: 18px; font-weight: 300; line-height: 180%; color: #333333; }

.wpcr3_review_author { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; font-size: 0 !important; }

.wpcr3_review_author span { color: #029C2B; font-style: normal; text-shadow: 0px 0px 18px #333333; font-size: 20px !important; }

.wpcr3_review_author .wpcr3_item_name { font-size: 0 !important; }

.wpcr3_review_datePublished { font-size: 0 !important; line-height: 0 !important; }

.wpcr3_dotline { visibility: hidden; }

.wpcr3_button_1 { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 200px; width: 100%; padding: 14px 0; display: inline-block; font-weight: 300; font-size: 11px; letter-spacing: 1px; border: 1px solid transparent; border-radius: 5px; background: #029C2B; color: #FFFFFF; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.wpcr3_button_1:hover { color: #FFFFFF; border-radius: 5px; background: #02691d; }

.wpcr3_div_2 { -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; padding: 10px 20px; border-radius: 10px; -webkit-box-shadow: 0px 0px 14px #333333; box-shadow: 0px 0px 14px #333333; width: 100%; }

.wpcr3_respond_2 input[type="text"] { min-width: 0; width: 100%; height: 25px; border-radius: 5px; }

.wpcr3_respond_2 textarea { width: 100%; border-radius: 5px; }

/*###################################
## Blog Page
###################################*/
.blog .post { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 40px 30px; max-width: 1592px; width: 95%; margin: 0 auto 40px; border: 1px solid #333333; border-radius: 5px; }

.blog .post p { margin: 1em 0 !important; }

.single h1 { color: #333333; }

.single .entry-meta { display: none; }

.single .post { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 40px 30px; max-width: 1592px; width: 95%; margin: 0 auto 40px; border: 1px solid #333333; border-radius: 5px; }

.single .post p { margin: 1em 0 !important; }

.single .entry-footer span { margin: 0 40px 0 0; }

.single .entry-footer svg { display: none; }

.single .entry-footer .byline, .single .entry-footer .cat-links { display: none; }

.single .comments-area { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 40px 30px; max-width: 1592px; width: 95%; margin: 0 auto 40px; border: 1px solid #333333; border-radius: 5px; }

.single .comments-area h2 { color: #333333; text-align: center; }

.single .comments-area .comment-form-comment label { display: block; text-align: center; font-size: 30px; font-weight: 400; margin: 0 0 20px; }

.single .comments-area .comment-form-comment textarea { width: 100%; }

.single .comments-area .comment-form-flex h2 { font-size: 20px; }

.single .comments-area .form-submit { text-align: center; margin: 0 0 30px !important; }

@media screen and (max-width: 800px) { .blog .post { padding: 20px 10px; } }

/*###################################
## Search Page
###################################*/
.page-description { text-align: center; margin-bottom: 40px; font-weight: 700; font-size: 25px; display: block; }

.page-description::after { content: ' "'; }

.page-description::before { content: '" '; }

.search article { -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; border: 1px solid #000; margin-bottom: 30px; padding: 20px; display: block; }

.search article:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

.search article:last-of-type { margin-bottom: 0; }

.search article h2 { margin: 0 0 20px; font-size: 35px; }

.search-con { padding-right: 5%; -ms-flex-preferred-size: 65%; flex-basis: 65%; }

@media screen and (max-width: 800px) { .search-wrap { -webkit-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .search-con { margin-bottom: 30px; padding-right: 0; } }

/*###################################
## Error Page
###################################*/
.error-404 { text-align: center; }

/*###################################
## Responsive
###################################*/
@media screen and (max-width: 1024px) { .site-banner .img-holder img { height: 75vw; }
  h2 { font-size: 52px; }
  .site-page-bottom ul li { display: block; }
  .site-page-bottom .container > div { max-width: 45% !important; width: 45% !important; -ms-flex-preferred-size: 45% !important; flex-basis: 45% !important; margin: 0 0 40px; } }

@media screen and (max-width: 1024px) and (min-width: 800px) { .banner-text .wrapper .title { font-size: 4.88281vw; } }

@media screen and (max-width: 800px) { .wprmenu_bar .hamburger { float: right; }
  #wprmenu_bar .bar_logo { height: 33px; }
  .wp-block-button { text-align: center; }
  h2 { font-size: 33px; }
  .site-header .container { display: none; }
  .banner-text .wrapper { top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  .banner-text .wrapper .title { font-size: 5vw; }
  .site-banner .img-holder img { height: 52vw; }
  #welcome, #commercial-cleaning, #residential, #testimonials, #move-in, #contact { padding: 20px 0; }
  .welcome-left, .welcome-right { max-width: 100%; -ms-flex-preferred-size: 100% !important; flex-basis: 100% !important; }
  .welcome-left { text-align: center; }
  .welcome-right h3 { font-size: 33px; }
  .welcome-right h1 { font-size: 28px; }
  #welcome::after { display: none; }
  #commercial-cleaning .container { width: 95%; }
  .commercial-left { padding: 0 10px 20px; }
  .footer-info, .footer-logo, .footer-sm { width: 100%; max-width: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  .site-page-bottom { padding: 20px 0; }
  .footer-info { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  .footer-logo { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .footer-sm { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .site-footer { padding: 20px 0; }
  .footer-logo { position: relative; top: auto; left: auto; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
  .footer-info .info { margin: 10px auto; }
  .social-navigation { margin: 10px auto; }
  .inner #content h1 { font-size: 35px; }
  .inner #content h5 { font-size: 30px; }
  .wpcr3_table_2 td { display: block; }
  .wpcr3_respond_2 input[type="text"], .wpcr3_respond_2 textarea { min-width: 0; width: 100%; } }

@media screen and (max-width: 600px) { .site-page-bottom .container > div { max-width: 100% !important; width: 100% !important; -ms-flex-preferred-size: 100% !important; flex-basis: 100% !important; margin: 0 0 40px; }
  .wpcr3_button_1 { display: block; } }
