#commercial-cleaning {
    padding: 0;
    .container{
        max-width: 100%;
        width: 100%;
        @include flex( row, wrap, space-between, stretch );
    }
}
.commercial-left{
    box-sizing: border-box;
    padding: 61px 10px 20px;
    max-width: 816px;
    margin: 0 0 0 auto!important;
    h2{
        max-width: 397px;
        margin: 0;
    }
    p{
        max-width: 574px;
        margin: 30px 0 0!important;
    }
    .commercial-button{
        margin: 33px 0 0;
    }
}
.commercial-right{
    img{
        object-fit: cover;
        min-height: 491px;
    }
}