#residential{
    padding: 117px 0 132px;
    background: url(../../uploads/2019/09/content3-bg.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    .container{
        max-width: 1592px;
        width: 95%;
        @include flex(row, wrap, space-between, center);
    }
}
.residential-left{
    max-width: 653px;
}
.residential-right{
    max-width: 816px;
    box-sizing: border-box;
    padding: 20px 10px 20px;
    h2{
        max-width: 360px;
        margin: 0!important;
    }
    p{
        max-width: 574px;
        margin: 30px 0 0 !important;
    }
    .residential-button{
        margin: 33px 0 0;
    }
}