#testimonials{
    background: url(../../uploads/2019/09/content4-bg.jpg)no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 54px 0 65px;
    .container{
        max-width: 1477px;
        margin: 56px auto 10px;
        width: 95%;
        @include flex(row, wrap, space-between, flex-start);
    }
}
.testimonial-contain{
    width: 33%;
    flex-basis: 33%;
    .author{
        font-size: 25px;
        font-weight: 400;
        line-height: 120%;
        margin: 0 auto!important;
        max-width: 400px;
    }
    .star{
        margin: 10px auto!important;
        max-width: 400px;
    }
    .testimonial-content{
        margin: 25px 0 0 !important;
    }
}