#welcome{
    padding: 55px 0 95px;
    background: url('../../uploads/2019/09/content-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    .container{
        max-width: 1592px;
        width: 95%;
        @include flex( row, wrap, space-between, center );
    }
    &::after{
        content: '';
        background: url(../../uploads/2019/09/content-pic2.png)no-repeat center bottom;
        background-size: contain;
        max-width: 324px;
        width: ( 324px / 1920px ) * 100%;
        height: 100%;
        max-height: 484px;
        position: absolute;
        bottom: 20px;
        right: 46px;
        opacity: 0.5;
        z-index: 0;
    }
}
.welcome-left{
    max-width: 478px;
    position: relative;
    z-index: 1;
}
.welcome-right{
    max-width: 1022px;
    padding: 20px 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    h3 {
        font-size: 65px;
        font-weight: 200;
        line-height: 120%;
    }
    h1{
        font-size: 45px;
        font-weight: 200;
        line-height: 120%;
    }
    p{
        margin: 30px 0;
        text-shadow: 0 0 2px #FFFFFF,
        0 0 5px #FFFFFF,
        0 0 10px #FFFFFF,
        0 0 15px #FFFFFF,
        0 0 20px #FFFFFF;
    }
    .welcome-button{
        margin: 33px 0 0;
    }
}