#move-in{
    padding: 114px 0;
    background: url(../../uploads/2019/09/content5-bg.jpg)no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    .container{
        max-width: 1420px;
        width: 95%;
        @include flex(row, wrap, space-between, center);
    }
}
.move-in-left{
    box-sizing: border-box;
    padding: 20px 10px 20px;
    max-width: 594px;
    margin: 0 auto !important;
    h2 {
        max-width: 429px;
        margin: 0 !important;
    }

    p {
        max-width: 574px;
        margin: 30px 0 0 !important;
    }

    .move-in-button {
        margin: 33px 0 0;
    }
}
.move-in-right{
    max-width: 653px;
}