#contact{
    padding: 124px 0 150px;
    background: url(../../uploads/2019/09/content6-bg.jpg)no-repeat center center;
    background-size: cover;
}
.contact-section{
    box-sizing: border-box;
    padding: 0 10px;
    p{
        margin: 23px auto 47px!important;
    }
    .contact-button {
     a:hover{
        color: #FFFFFF!important;
        }
    }
}