.site-page-bottom{
    background-color: #F7F7F7;
    padding: 74px 0 82px;
    .container{
        max-width: 1592px;
        width: 95%;
        @include flex( row, wrap, space-between, flex-start );
    }
    h4{
        margin: 0 0 30px;
    }
    h5{
        margin: 30px 0 0;
        margin-bottom: 3px;
        font-size: 13px;
        font-weight: 400;
        line-height: 120%;
        color: #019B2B;
        text-transform: uppercase;
    }
    p{
        margin: 0;
        font-size: 15px;
        font-weight: 300;
        line-height: 180%;
        color: #333333;
    }
    .container > div{
        &:nth-of-type(1){
            max-width: 400px;
            width: 40%;
            flex-basis: 40%;
        }
        &:nth-of-type(2){
            max-width: 105px;
            width: 20%;
            flex-basis: 20%;
            a{
                text-transform: uppercase;
            }
        }
        &:nth-of-type(3){
            max-width: 190px;
            width: 20%;
            flex-basis: 20%;    
        }
        &:nth-of-type(4){
            max-width: 203px;
            width: 20%;
            flex-basis: 20%;
            a{
                font-weight: 300;
            }
        }
    }
}