.site-banner{
    position: relative;
    .img-holder{
        img{
            width: 100%;
            height: 1000px;
            object-fit: cover;
        }
    }
}
.banner-text{
    .wrapper {
        position: absolute;
        top: 450px;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 1118px;

        .title {
            text-align: center;
            font-family: "Montserrat";
            font-size: 65px;
            font-weight: 200;
            color: #FFFFFF;
            line-height: 120%;
        }
    }
}
