.site-footer{
    padding: 76px 0;
    .container{
        max-width: 1592px;
        width: 95%;
        @include flex( row, wrap, space-between, center );
        position: relative;
    }
}
.footer-info{
    width: 33%;
    flex-basis: 33%;
    .info{
        max-width: 453px;
        margin: 0 auto 0 0;
        text-align: center;
    }
}
.footer-logo{
    width: 33%;
    flex-basis: 33%;
    text-align: center;
    position: absolute;
    top: -135px;
    left: 50%;
    transform: translateX(-50%);
    img{
        max-width: 225px;
        
    }
}
.footer-sm{
    width: 33%;
    flex-basis: 33%;
}
.copyright{
    font-size: 15px;
    font-weight: 300;
    line-height: 180%;
}
.silver{
    font-size: 15px;
    font-weight: 300;
    line-height: 180%;
    img{max-width: 50px;}
}