.site-header {
    position: relative;
    .container{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        width:100%;
        z-index: 999;
    }
}
.header-nav{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.35);
    padding: 40px 0;
}
.hd-logo{
    padding: 75px 0 0;
    text-align: center;
}